In [1]:
#calculo
import numpy as np
import pandas as pd

#grafico
import matplotlib.pyplot as plt
%matplotlib inline

data = pd.read_csv('data/01dataBaseTrainTrxRec.csv')
data.head()

,fechaOper,codCliente,codGiro,codEstab,flagLimaProvEstab,ubigeoEstab,ctdTrx,ratingMonto
0,2017-01-29 00:00:00,7649,138.0,43629,1,176.0,1,0.014072
1,2016-12-01 00:00:00,24604,75.0,4326,0,81.0,1,0.001667
2,2017-06-01 00:00:00,15289,75.0,4326,0,81.0,1,0.000127
3,2017-09-22 00:00:00,5190,110.0,59776,1,156.0,1,0.001167
4,2017-05-05 00:00:00,16635,75.0,31043,0,81.0,1,0.047386

In [2]:
for col in data.columns:
    print(col, data[col].unique().shape[0])

fechaOper 365
codCliente 30000
codGiro 223
codEstab 74339
flagLimaProvEstab 2
ubigeoEstab 422
ctdTrx 22
ratingMonto 723645